In [10]:
import pandas as pd
import numpy as np
import pickle
df = pd.read_csv('data.csv')
# df = df.dropna()
df = df.drop('education',axis=1)
df.head(100)

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,65,0,0.0,0.0,0,0,0,193.0,123.0,76.5,29.33,60.0,96.0,0
96,0,63,1,20.0,0.0,0,0,1,239.0,134.0,80.0,26.64,88.0,126.0,0
97,0,40,0,0.0,0.0,0,0,0,205.0,100.0,60.0,NaN,60.0,72.0,1
98,0,56,0,0.0,0.0,0,1,0,296.0,180.0,90.0,23.72,75.0,120.0,0
99,0,56,1,15.0,0.0,0,0,0,269.0,121.0,75.0,22.36,50.0,66.0,0

In [11]:

df = df.dropna()

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X = df.drop('TenYearCHD' ,axis=1)
Y = df['TenYearCHD']
print(X)

      male  age  currentSmoker  cigsPerDay  BPMeds  prevalentStroke  \
0        1   39              0         0.0     0.0                0
1        0   46              0         0.0     0.0                0
2        1   48              1        20.0     0.0                0
3        0   61              1        30.0     0.0                0
4        0   46              1        23.0     0.0                0
...    ...  ...            ...         ...     ...              ...
4231     1   58              0         0.0     0.0                0
4232     1   68              0         0.0     0.0                0
4233     1   50              1         1.0     0.0                0
4234     1   51              1        43.0     0.0                0
4237     0   52              0         0.0     0.0                0

      prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  heartRate  glucose
0                0         0    195.0  106.0   70.0  26.97       80.0     77.0
1                0         0    250.0  121.0   81.0  28.73       95.0     76.0
2                0         0    245.0  127.5   80.0  25.34       75.0     70.0
3                1         0    225.0  150.0   95.0  28.58       65.0    103.0
4                0         0    285.0  130.0   84.0  23.10       85.0     85.0
...            ...       ...      ...    ...    ...    ...        ...      ...
4231             1         0    187.0  141.0   81.0  24.96       80.0     81.0
4232             1         0    176.0  168.0   97.0  23.14       60.0     79.0
4233             1         0    313.0  179.0   92.0  25.97       66.0     86.0
4234             0         0    207.0  126.5   80.0  19.71       65.0     68.0
4237             0         0    269.0  133.5   83.0  21.47       80.0    107.0

[3749 rows x 14 columns]

In [13]:


xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.1)

# scaler = StandardScaler()
# xtrain = scaler.fit_transform(xtrain)
# xtest = scaler.fit_transform(xtest)

xtrain

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
1812,1,57,1,30.0,0.0,0,1,0,256.0,135.0,88.0,29.51,60.0,75.0
4136,0,42,1,20.0,0.0,0,0,0,235.0,128.0,86.0,24.05,66.0,70.0
3091,1,53,1,20.0,0.0,0,1,0,204.0,152.0,74.0,24.80,78.0,89.0
2938,0,65,0,0.0,0.0,0,1,0,225.0,145.0,91.0,29.80,80.0,83.0
974,1,52,1,15.0,0.0,0,0,0,225.0,131.0,74.0,24.54,65.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,1,48,1,25.0,0.0,0,1,0,249.0,132.0,95.0,29.79,90.0,53.0
1414,0,39,1,15.0,0.0,0,0,0,255.0,142.0,85.5,24.89,100.0,108.0
3850,1,38,1,30.0,0.0,0,1,0,266.0,149.0,91.0,31.08,69.0,61.0
3538,0,48,1,20.0,0.0,0,0,0,246.0,113.0,87.0,18.01,60.0,63.0
3668,0,41,1,20.0,0.0,0,0,0,243.0,97.0,63.0,22.53,76.0,64.0

In [14]:
model = LogisticRegression(max_iter=10000)
model.fit(np.array(X),np.array(Y))
model.score(np.array(xtest),np.array(ytest))
#pickle.dump(model,open("CHDPredictor.pickle", 'wb'))

In [15]:
model.score(xtest,ytest)

c:\Users\vrudd\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.8586666666666667